@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: lightcyan;
  color: #000;
  /* overflow: hidden; */
  font-family: "NEXON Lv1 Gothic OTF";
}

button {
  font-family: 'NEXON Lv1 Gothic OTF';
  font-size: 20px;
  width: 400px;
  height: 50px;
  padding: 5px;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: whitesmoke;
  color: #000;
}

button:hover {
  text-decoration: underline;
}


#main_contents {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

#main_contents .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
  padding-bottom: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.result h1 {
  font-size: 50px;
  font-family: 'GmarketSansBold';
}

.result h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

.result_img {
  width: 300px;
  height: 325px;
}

.result_img img {
  width: 100%;
  height: 100%;
}

.result_explains {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  line-height: 1.5;
}


.result_explains .explain {
  width: 400px;
  margin-bottom: 30px;
}

.result_explains .title {
  font-family: 'GmarketSansBold';
  font-size: 20px;
  text-align: center;
  border-top: 3px solid rgb(0, 78, 122);
  border-bottom: 3px solid rgb(0, 78, 122);
  margin-bottom: 20px;
  padding: 10px 0;
}


.result_explains ul {
  padding: 0 20px;
  list-style-type: disc;
}

.result_explains li {
  padding-bottom: 15px;
}


.exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid rgb(0, 78, 122);
  padding-bottom: 20px;
  margin-bottom: 50px;
}


.exercises .title {
  text-align: center;
  width: 400px;
  font-size: 30px;
  font-family: 'GmarketSansBold';
  color: blueviolet;
  position: relative;
}

.exercises .title:before, .exercises .title:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: darkblue;
  position: absolute;
}

.exercises .title:before {
  left: 0;
  top: 50%;
}

.exercises .title:after {
  right: 0;
  top: 50%;
}

.exercises p {
  padding: 50px 0;
  line-height: 1.5;
}


.exercises ul {
  width: 400px;
}


.exercises li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}


.exercises a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}


.exercises a:hover img {
  transform: scale(1.1);
}


.exercises a:hover button {
  text-decoration: underline;
}


.exercises li img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  transition: transform .5s;
}


.exercises li h3 {
  font-family: 'GmarketSansBold';
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding: 0 10px 20px;
}


.exercises li button {
  background-color: lightseagreen;
  color: white;
}


.share {
  border-bottom: 3px solid #00ffbf;
  width: 400px;
}
.content {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: space-around;
  align-content: center;
}
.share button {
  margin-bottom: 30px;
}

.buttons {
  padding-bottom: 50px;
  border-bottom: 3px solid #00ffbf;
}

.buttons h3 {
  padding-bottom: 20px;
}

.buttons button {
  margin-bottom: 30px;
  background-color: aqua;
}

.buttons button:hover {
  text-decoration: underline;
  background-color: rgb(46, 102, 255);
  transition: all 2s;
}

.color {
  background-color: tomato;
  color: white;
}


.project_pyh {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project_pyh a {
  width: 100px;
}

.project_pyh img {
  width: 100%;
  height: auto;
}

.project_pyh p {
  padding-top: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}
.main_title {
  display: flex;
  font-family: "GmarketSansBold";
  font-size: 50px;
  margin-bottom: 30px;
  justify-items: center;
  
}

.maintitle h3 {
  justify-content: center;
}
