{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뿌셔 테스트</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script type="text/javascript" src="{% static 'js/main.js' %} "></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <section id="main_contents">
    <div class="wrapper">
      <div class="title">
        <h3 class="main_title">나의 건강 유형은</h3>
        <h3 class="sub_title">어떤걸까?</h3>
      </div>
      <div class="intro">
        <div class="type">
          <ul class="type_list">
            <li>나무늘보</li>
            <li>코모도 도마뱀</li>
            <li>코끼리</li>
            <li>황제 펭귄</li>
            <li>바나나 민달팽이</li>
          </ul>
        </div>
      </div>
      <div class="button">
        <a href="{% url 'survey:question' %}">
          <button class="start" type="button">start</button>
        </a>
        <a href="{% url 'exercise:get_addr' %}">
          <button class="start" type="button">체육 시설 알아보기</button>
        </a>
      </div>
      <div class="share">
        <div class="content">
          <a href="javascript:copyUrl()" title="linkcopy"> 
            <img src="{% static 'image/link_icon.png' %}" width=50 alt="linkcopy">
          </a>
          <a href="javascript:sharefacebook()" title="facebookshare">
            <img src="{% static 'image/facebook_icon.png' %}" width=50 alt="Facebook">
          </a>
          {% comment %} <a href="javascript:sendLink()" title="kakaoshare">
            <img src="{% static 'image/kakao_icon.png' %}" width=50 alt="kakao">
          </a> {% endcomment %}
          {% comment %} <a id="create-kakao-link-btn" href="javascript:;">
            <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" width=50>
          </a> {% endcomment %}
          {% comment %} <button type="button" class="kakao_share">
            <img src="{% static 'image/kakao_icon.png' %}" width=50 alt="kakao">
          </button> {% endcomment %} 
          {% comment %} <div class="kakao-link"> <a id="kakao-link-btn" href="#" onclick="sendLink"> 카카오톡으로 공유하기 </a> </div> {% endcomment %}
          {% comment %} <div class="kakao-link"> <button id="kakao-link-btn" onclick="kakaoLink"> 카카오톡으로 공유하기 </button> </div> {% endcomment %}
        </div>
      </div>

      <div class="result_data">
        <div class="data_wrap">
          <h3>참여한 사람</h3>
          <ul>

            <li class="cnt_style">{{ survey_cnt }}</li>
          </ul>
        </div>
      </div>
      <div class="project_pyh">
        <a href="https://github.com/Data-study-project">
          <img src="{% static 'image/data_logo.png' %} " alt="logo">
        </a>
      </div>
    </div>
  </section>
</body>
{% comment %} {% block js %}
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %} "></script>
{% endblock js %}  {% endcomment %}
<script type="text/javascript">
  Kakao.init('{{api_key}}');
  console.log(Kakao.isInitialized());
    Kakao.Link.createDefaultButton({
    container: '#create-kakao-link-btn',
    objectType: 'feed',
    content: {
      title: '딸기 치즈 케익',
      description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
      imageUrl:
        'http://k.kakaocdn.net/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
      link: {
        mobileWebUrl: 'https://ppusyeo.herokuapp.com',
        webUrl: 'https://ppusyeo.herokuapp.com',
      },
    },
    social: {
      likeCount: 286,
      commentCount: 45,
      sharedCount: 845,
    },
    buttons: [
      {
        title: '웹으로 보기',
        link: {
          mobileWebUrl: 'https://ppusyeo.herokuapp.com',
          webUrl: 'https://ppusyeo.herokuapp.com',
        },
      },
      {
        title: '앱으로 보기',
        link: {
          mobileWebUrl: 'https://ppusyeo.herokuapp.com',
          webUrl: 'https://ppusyeo.herokuapp.com',
        },
      },
    ],
  })
  {% comment %} Kakao.Link.sendDefault({
    container: '#create-kakao-link-btn',
    objectType: 'feed',
    content: {
      title: '나의 건강 상태는?',
      description: '나의 현재 건강 상태는 어떨까?',
      imageUrl: 'https://ppusyeo.herokuapp.com/', 
      link: {
        mobileWebUrl: 'https://ppusyeo.herokuapp.com/',
        webUrl: 'https://ppusyeo.herokuapp.com/',
      },
    },
  }) {% endcomment %}


  /*
  Kakao.Link.createScrapButton({
    container: '#create-kakao-link-btn',
    requestUrl: 'https://ppusyeo.herokuapp.com',
  })*/
</script>
{% comment %} 
<script type="text/javascript">
console.log({{apiKey}}) 
kakao.init({{apiKey}});
function sendLink() {
  console.log({{apiKey}})
  Kakao.Link.sendDefault({
    //container: '#kakao-share',
    objectType: 'feed',
    content: {
      title: '나의 건강 상태는?',
      description: '나의 현재 건강 상태는 어떨까?',
      imageUrl: 'https://ppusyeo.herokuapp.com/', 
      link: {
        mobileWebUrl: 'https://ppusyeo.herokuapp.com/',
        webUrl: 'https://ppusyeo.herokuapp.com/',
      },
    },
    
    social: {
      likeCount: 100,
      commentCount: 10,
      sharedCount: 100,
    },
    buttons: [
      {
        title: '결과 확인하기',
        link: {
          webUrl: result_url,
          mobileWebUrl: result_url,
        },
      },
      {
        title: '테스트 해보기',
        link: {
          webUrl: 'https://ppusyeo.herokuapp.com/',
          mobileWebUrl: 'https://ppusyeo.herokuapp.com/',
        },
      },
    ]
  });

};
</script> {% endcomment %}
</html>